extends layout

block content
  h1 #{material.name}
  p Entreprise: #{material.company}
  ul
    each furniture in furnitureUsingMaterial
      li
        h2 #{furniture.name}
        p Category: #{furniture.category}
        p Quantity: #{furniture.quantity}